.perfil_container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100vh;
    background: #0f000067; 
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
     /* fallback for old browsers */
}
.details_container{
    width: 80px;
    border-radius: 15px;
    position: relative;
    border-radius: 15px;
}
