@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
/* Tags */
/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fa2103;
}
body {
    background-color: black;
    font-family: "Cabin", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
  }

button {
    border: none;
  }

hr {
    margin: 0;
  }

  .section5 {
    position: relative;
  }
  
  .section3 {
    position: relative;
  }
  
  .section4 {
    position: relative;
  }
  
  .section2 {
    position: relative;
  }
/* Heading Component */

  .firstHeading {
    margin-bottom: 10px;
    padding-top: 5%;
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1;
    width: 550px;
  }

.secondHeading {
    font-size: 1.8rem;
    margin-bottom: 0px;
  }

/* ============== */

/* Input Component */


.startBtn {
    padding: 0.8rem 1rem;
    font-size: 1.25rem;
    border: none;
    background-color: #d40000;
    color: white;
}
  
  .input {
    position: relative;
    padding-left: 10px;
    width: 500px;
    height: 55px;
    border-radius: none;
    border: none;
  }
  
  .hidden-message {
    margin: 5px 0 0 10px;
    color: #ffa00a;
    text-align: left;
  }
  
  .faqsec {
    position: relative;
  }

/* Main-page ----- Section 1 */

/* =================== */

.my-Cont {
    width: 100%;
    height: 100vh;
    background-image: url("./Background.jpg");
  }
  

.marvel-logo {
    margin-top: 35px;
    margin-left: 45px;
    width: 130px;
}
  
.header {
    display: flex;
    justify-content: space-between;
}
  
.heading {
    margin-top: 5%;
}
  
  .signInBtn {
    margin-top: 35px;
    margin-right: 45px;
    border: 0;
    color: white;
    border-radius: 2px;
    font-weight: 500;
    width: 80px;
    height: 37px;
    background-color: #d40000;
}
  
  /* --------------------------- */
@media only screen and (max-width: 440px) {
body {
      overflow-x: hidden;
}
  
.main {
      width: 100vw;
}
  
.my-Cont {
      height: 100vh;
}
  
.netflix-logo {
      margin-left: 20px;
      width: 95px;
 }
  
    .signInBtn {
      margin-right: 20px;
      width: 62px;
      height: 28px;
    }
  
    .heading {
      margin-top: 13%;
    }
  
    .firstHeading {
      font-size: 1.75rem;
      width: 352px;
    }
  
    .secondHeading {
      font-size: 1.125rem;
      margin-bottom: 0;
    }
  
    .thirdHeading {
      margin-top: 10px;
      font-size: 1.125rem;
      width: 330px;
    }
  
    .input-item {
      position: relative;
      height: 130px;
      width: 100%;
    }
  
.input {
      width: 329px;
      height: 43px;
}
  
.startBtn {
      margin: 20px;
      height: 45px;
      font-size: inherit;
}
 
 } 